* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}

:root {
  --primary: #8f1f1f;
  --secondary: #8f1f1f;
  --dark: #121212;
  --light: #1a1a1a;
  --gray: #333333;
  --text-dark: #333333;
  --text-light: #ffffff;
}

body {
  background-color: #f5f5f5
}

.app-container {
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 30px;
  border-bottom: 2px solid var(--primary);
  background: var(--dark);
  padding: 20px;
  border-radius: 0 0 10px 10px;
}

.header-logo {
  font-size: 32px;
  font-weight: 800;
  color: var(--text-light);
  letter-spacing: 1px;
}

.search-form {
  display: flex;
  width: 100%;
  max-width: 500px;
}

.search-input {
  flex: 1;
  padding: 12px 20px;
  border: none;
  border-radius: 30px 0 0 30px;
  font-size: 16px;
  background: var(--text-light);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.search-input:focus {
  outline: 2px solid var(--primary);
}

.search-button {
  padding: 12px 25px;
  background-color: var(--primary);
  color: var(--text-light);
  border: none;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s;
}

.search-button:focus {
  outline: 2px solid var(--primary);
}

.search-button:hover {
  background-color: #b30c00;
}

.main-content {
  padding: 20px;
}

.search-page.container {
  background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный белый */
  border-radius: 12px;
  padding: 30px;
  margin: 20px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.search-title {
  font-size: 28px;
  margin-bottom: 30px;
  color: var(--primary);
  text-align: center;
}

.search-subtitle {
  font-size: 22px;
  margin: 25px 0 15px;
  color: var(--dark);
}

.search-section {
  margin-bottom: 40px;
}

.search-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
}

.search-empty {
  text-align: center;
  font-size: 18px;
  color: var(--gray);
  padding: 40px 0;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.card-title {
  font-size: 16px !important;
  margin-top: 10px;
}

.card-subtitle {
  font-size: 14px !important;
}